@font-face {
  font-family: QanelasBold;
  src: url(../../fonts/Qanelas/QanelasBold.otf);
}

@font-face {
  font-family: QanelasMedium;
  src: url(../../fonts/Qanelas/QanelasMedium.otf);
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.244);
  border-radius: 8px;
  background-color: #ffffff;
}

.fp-heading {
  font-family: "QanelasBold";
  font-size: 24px;
  margin: 16px 16px;
}

.label {
  font-family: "QanelasMedium";
  font-size: 14px;
  margin: auto;
}

.email-input-fp {
  margin: 10px 20px;
}

.confirm-email-btn {
  background-color: #ff4400;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 24px 64px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
  width: 150px;
  height: 50px;
  font-family: "QanelasBold";
}
