@font-face {
  font-family: "QanelasBold";
  src: url("../../fonts/Qanelas/QanelasBold.otf") format("opentype");
}

@font-face {
  font-family: "QanelasMedium";
  src: url("../../fonts/Qanelas/QanelasMedium.otf") format("opentype");
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 24px 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.251);
  border-radius: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
}

.fp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.close-btn-fp {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: auto;
}

.fp-heading {
  font-family: "QanelasBold";
  font-size: 24px;
  color: #292929;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

.label {
  font-family: "QanelasMedium";
  font-size: 14px;
  color: #292929;
  text-align: left;
  width: 100%;
}

.email-input-fp {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  font-family: "QanelasMedium";
  font-size: 14px;
  background-color: #292929;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
  color: white;
  transition: all 0.3s ease;
}

.email-input-fp:focus {
  outline: none;
  border-color: #ff4400;
  background-color: #292929;
  box-shadow: 0 0 4px rgba(255, 68, 0, 0.3);
}

.confirm-email-btn {
  background-color: #ff4400;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-family: "QanelasBold";
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-bottom: 16px;
}

.confirm-email-btn:hover {
  background-color: #d83c03;
}

.error-message,
.success-message {
  font-family: "QanelasMedium";
  font-size: 14px;
  color: #ff4400;
  margin-top: 10px;
  text-align: center;
  bottom: 10px;
  width: 100%;
}
