nav{
    width: 90%; 
    max-width: 1380px;

    color: black;
    padding: 20px 40px;
    position: relative;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    max-width: 100%; /* Ensure it doesn't overflow its container */
    max-height: 30px; /* Limit height to 30px */
    height: auto; /* Maintain aspect ratio */
}

.navbar-ul{
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
    gap: 20px;
}

@font-face{
    font-family: QanelasMedium;
    src: url(../public/QanelasMedium.otf)
}

.navbar-ul li{
    padding: 10px 20px;
    border-radius: 25px;

    font-family: QanelasMedium;
    font-size: 19px;
    color: #222222;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-ul li:hover{
    background-color: #f0f0f0; 
    color: #FF4400; 
}

.navbar-ul{
    display: flex;
    flex-grow: 0;
    list-style: none;
}

.circle-1 {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #E8E35D;
    border-radius: 50%;
    margin-right: 8px;
}

.circle-2 {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #2986FF;
    border-radius: 50%;
    margin-right: 8px;
}

.circle-3 {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #FF4400;
    border-radius: 50%;
    margin-right: 8px;
}

@font-face{
    font-family: QanelasSemiBold;
    src: url(../public/QanelasSemiBold.otf)
}

.nav-btn button {
    padding: 15px 30px;
    border: none;
    font-family: QanelasSemiBold;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn {
    background-color: #ffffff;
    color: #FF4400;
}

.login-btn:hover {
    background-color: #f0f0f0;
}

.login-btn:active {
    background-color: #cfcfcf;
}

.signup-btn {
    margin-left: 10px;
    background-color: #FF4400;
    color: white;
}

.signup-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.signup-btn:active {
    background-color: #237735;
    transform: scale(0.98);
}